In [4]:
import pandas as pd
import plotly.express as px

In [8]:
# Assuming you have your DataFrame 'qc' ready with appropriate data
qc = pd.read_csv('playtime.csv')
qc = qc[qc['id'] == str(['76561198044737410'])]

# Calculate the difference between each bar and the bar before it
qc['difference'] = qc['playtime_total'].diff()

# Create a bar chart with data labels above the bars
fig = px.bar(qc, x='date', y='difference', color='id', title='Call of Duty: Modern Warfare II - Playtime Per Day')

# Add data labels above the bars
fig.update_traces(texttemplate='%{text}', textposition='auto', text=qc['difference'].fillna(0).astype(int))

# Calculate the rolling sum of the last 7 values of the 'difference' column
rolling_sum_7_days = qc['difference'].rolling(window=7).sum().fillna(0).astype(int)

In [10]:
rolling_sum_7_days.iloc[-1]

28

In [7]:
qc

          date  playtime_total                     id  difference
0   2023-08-01     1054.716667  ['76561198044737410']         NaN
1   2023-08-02     1056.233333  ['76561198044737410']    1.516666
2   2023-08-04     1074.500000  ['76561198044737410']   18.266667
3   2023-08-06     1080.633333  ['76561198044737410']    6.133333
4   2023-08-08     1085.666667  ['76561198044737410']    5.033333
5   2023-08-09     1087.983333  ['76561198044737410']    2.316667
6   2023-08-10     1089.250000  ['76561198044737410']    1.266667
7   2023-08-11     1089.250000  ['76561198044737410']    0.000000
10  2023-08-12     1097.066667  ['76561198044737410']    7.816667
13  2023-08-13     1103.483333  ['76561198044737410']    6.416667
16  2023-08-14     1109.433333  ['76561198044737410']    5.950000
19  2023-08-15     1113.966667  ['76561198044737410']    4.533333